* {margin:0;padding:0}
html, body {height:100%}
html {min-width:920px}
body {background:#fff;font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1.25em;color:#4e4e4e}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top;outline:none}
ul, ol {list-style:none}
table, table td {padding:0;border:none;border-collapse:collapse}
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.col-1, .col-2, .col-3 {float:left}
.alignright {text-align:right}
.aligncenter {text-align:center}
.wrapper {width:100%;overflow:hidden}
.wrapper h1 {padding-top:13px;color: #FFF}
/* GLOBAL */
.container {width:920px;margin:0 auto;font-size:.875em}
/*#header {height:430px;overflow:hidden;background:url(../images/header-tail.gif) 0 0 repeat-x;min-width:920px}*/
#header {height:430px;overflow:hidden;background-color:#072e59;min-width:920px}
#header .bg {background:url(../images/header-bg1-3.jpg) no-repeat 50% 0;height:430px}
#content {background:url(../images/content-bg.gif) 0 0 repeat-x}
#content .aside {float:left;width:287px;background:url(../images/sidebar-extra-bg.jpg) no-repeat 0 100% #f0f0f0}
#content .mainContent {float:left;width:633px}
#content .mainContent table {width:633px;background-color: #E2E2E2}
#content .mainContent table tr {border:10px solid #F0F0F0;border-top-color:#E2E2E2}
#footer {height:125px;background:url(../images/footer-tail.gif) 0 0 repeat-x}
/*#footer {height:125px;background-color: #CCE0F8;}*/
#footer .bg {height:125px;background:url(../images/footer-bg.jpg) no-repeat 50% 0}
/* forms parameters */
input, select, textarea {font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal}
/* other */
.img-indent {margin:0 20px 0 0;float:left}
.img-box {width:100%;overflow:hidden;padding-bottom:20px}
.img-box img {float:left;margin:0 20px 0 0}
.extra-wrap {overflow:hidden}
p {margin-bottom:20px}
.p1 {margin-bottom:10px}
.p2 {margin-bottom:20px}
.p3 {margin-bottom:30px}
/* txt, links, lines, titles */
a {color:#5db2e9;outline:none}
a:hover{text-decoration:none}
h1 {}
h2 {font-size:30px;line-height:1.2em;color:#3782b2;font-weight:normal;font-weight:300;letter-spacing:-2px;margin-bottom:17px}
h3 {font-size:12px;color:#5db2e9;margin-bottom:4px}
h3 a {text-decoration:none}
h3 a:hover {text-decoration:underline}
h4 {}
h5 {}
h6 {}
.txt1 {}
.txt2 {}
.button {float:right}
.line-hor {background:#3a3c52;height:1px;overflow:hidden;font-size:0;line-height:0;margin:20px 0 20px 0}
.title {margin-bottom:20px}
/* boxes */
.box {background:#fff;width:100%}
.box .inner {padding:0}
.address {float:left}
.address dt {margin-bottom:16px}
.address dd {clear:both;text-align:right}
.address dd span {float:left;padding-right:25px}
/* header */
#header .row-1 {height:91px;overflow:hidden;}
#header .row-1 .fleft {padding:14px 0 0 33px}
#header .top-links {float:right;padding:41px 0 0 0}
#header .top-links li {float:left;background:url(../images/divider.gif) no-repeat 0 0;padding:1px 28px 2px 28px}
#header .top-links li.first {background:none}
#header .top-links li.last {padding-right:10px}
#header .top-links li a {float:left;width:11px;height:10px;overflow:hidden;text-decoration:none}
#header .top-links li a.home {background:url(../images/icon-home-sprite.gif) no-repeat 0 0}
#header .top-links li a.home:hover, #header .top-links li a.home-current {background:url(../images/icon-home-sprite.gif) no-repeat 0 -10px}
#header .top-links li a.mail {background:url(../images/icon-mail-sprite.gif) no-repeat 0 0}
#header .top-links li a.mail:hover, #header .top-links li a.mail-current {background:url(../images/icon-mail-sprite.gif) no-repeat 0 -10px}
#header .top-links li a.sitemap {background:url(../images/icon-sitemap-sprite.gif) no-repeat 0 0}
#header .top-links li a.sitemap:hover, #header .top-links li a.sitemap-current {background:url(../images/icon-sitemap-sprite.gif) no-repeat 0 -10px}
#header .row-2 {height:64px;overflow:hidden;}
#header .nav {padding:13px 0 0 18px;}
#header .nav li {float:left;padding:0 20px}
#header .nav li a {float:left;font-size:16px;line-height:1.2em;color:#9ddeff;text-decoration:none;text-transform:uppercase}
#header .nav li a:hover, #header .nav li a.current {color:#fff;text-decoration:none}
#header .row-3 {padding:1px 500px 0 33px;color:#fff;}
#header .row-3 p {padding:12px 0 0 4px;margin-bottom:39px;letter-spacing:8px;font-size:18px;}
/* content */
#content {}
#content .aside .indent1 {padding:42px 0px 280px 0px;background:url(../images/sidebar-bg.gif) 0 0 repeat-x}
#content .aside .indent1 h2 {background-color: #18293D; color: #FFFFFF; margin: 5px 0;padding: 5px 0 5px 40px;}
#content .aside .indent1 dl.news {padding: 5px 0 5px 40px;}
#content .aside .indent1 dl.news dt {font-size:12px;font-weight:bold;margin-bottom:5px}
#content .aside .indent1 dl.news dt a {color:#5db2e9;text-decoration:none}
#content .aside .indent1 dl.news dt a:hover {text-decoration:underline}
#content .aside .indent {padding:42px 35px 280px 40px;background:url(../images/sidebar-bg.gif) 0 0 repeat-x}
#content .mainContent .indent {padding:42px 35px 40px 40px}
#content .section {padding-bottom:37px}
#content .section p {text-indent:25px}
dl.news dt {font-size:12px;font-weight:bold;margin-bottom:5px}
dl.news dt a {color:#5db2e9;text-decoration:none}
dl.news dt a:hover {text-decoration:underline}
dl.news dd {margin-bottom:20px}
.img-list li {width:100%;overflow:hidden;padding-bottom:10px}
.img-list li img {float:left;margin-right:9px;width: 74px; height: 74px;}
.img-list li h3 {padding-top:5px}
.img-list-alt {margin-bottom:-25px}
.img-list-alt li {width:100%;overflow:hidden;padding-bottom:25px}
.img-list-alt li img {float:left;margin-right:20px}
.img-list-alt li h3 {margin-top:-4px}
.list {padding-bottom:20px}
.list li {background:url(../images/arrow1.gif) no-repeat 0 7px;padding:0 0 0 12px;margin-bottom: 20px;}
.product img{width: 318px; height: 222px; margin-bottom: 10px;}
.productInfo{text-align: left;padding: 10px 20px 60px 20px}
/* footer */
#footer {color:#fff;text-align:center}
#footer .indent {padding:30px 0 0 280px;line-height:30px}
#footer a {color:#9ddeff}
#footer img {position:relative}
/* forms */
#search-form fieldset {border:none;padding-left:4px}
#search-form input.text {width:165px;border:1px solid #3e576d;background:#fff;padding:3px 3px 3px 5px;margin-right:4px}
#search-form input.submit {background:url(../images/submit-button.jpg) no-repeat 0 0;width:92px;height:32px;border:none;cursor:pointer}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both}
#contacts-form label {float:left;width:112px;padding-bottom:5px}
#contacts-form input {width:240px;padding:1px 0 1px 5px;background:none;border:1px solid #e5e5e5;color:#616161;float:left}
#contacts-form textarea {width:425px;height:410px;padding:1px 0 1px 5px;background:none;border:1px solid #e5e5e5;color:#616161;margin-bottom:12px;overflow:auto;float:left}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}

/* 分页数字链接样式 */
.paging a,.paging span.Bg,.paging a:hover,.paging a.cur,.paging a:hover span.Bg,.paging a.cur span.Bg{background:url(../images/pagebg.png) no-repeat;}
.paging{text-align:center;font-size:13px;}
.paging a{padding-bottom:4px;display:inline-block;background-position:0 -134px;padding-bottom:11px;}
.paging a:hover{text-decoration:none;}
.paging b{font-weight:100;opacity:0;*visibility:hidden;}
.paging span.Bg{
    width:58px;height:17px;line-height:17px;padding-left:5px;text-align:left;margin-right:1px;display:inline-block;background-position:0px 11px;cursor:pointer;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}
.paging a:link,.paging a:visited{color:#266EB0;}
.paging a:hover,.paging a.cur{color:#fff;background-position:0px -93px;}
.paging a:hover span.Bg,.paging a.cur span.Bg{background-position:0px -63px;}
.paging a:hover span.Bg b,.paging a.cur span.Bg b{opacity:1;*visibility:visible;}
/* 上下翻页样式 */
.paging a.previous,.paging a.previous span.Bg,.paging a.previous b,.paging a.previous:hover,.paging a.previous:hover span.Bg,.paging a.previous:hover b,.paging a.nextpage,.paging a.nextpage span.Bg,.paging a.nextpage b,.paging a.nextpage:hover,.paging a.nextpage:hover span.Bg,.paging a.nextpage:hover b{background:url(../images/prev-next-bg.png) no-repeat}
.paging a.previous{background-position:0px -72px;}
.paging a.previous span.Bg{width:61px;padding-left:0px;background-position:0px -121px;}
.paging a.previous b{background-position:0px 17px;}
.paging a.previous:hover{background-position:0px -25px;}
.paging a.previous:hover span.Bg{background-position:0px -108px;}
.paging a.previous:hover b{background-position:0px 4px;opacity:1;*visibility:visible;}
.paging a.nextpage{background-position:-61px -72px;}
.paging a.nextpage span.Bg{width:61px;padding-left:0px;background-position:-61px -121px;}
.paging a.nextpage b{background-position:-61px 17px;}
.paging a.nextpage:hover{background-position:-61px -25px;}
.paging a.nextpage:hover span.Bg{background-position:-61px -108px;}
.paging a.nextpage:hover b{background-position:-61px 4px;opacity:1;*visibility:visible;}
.paging a.previous b,.paging a.nextpage b{
    width:61px;display:inline-block;height:17px;opacity:1;*visibility:visible;
    -moz-transition:all 0.6s ease;
    -webkit-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
}